<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input class="btn" type="submit" value="Авторизоваться"/>
            {{ result }}
        </form>
    </div>
    <div> 
        <p class="mt-5 mb-3">Нет аккаунта? Создайте новый <a href="{% url 'signup' %}">здесь</a> или зайдите как <a href="/shop?page=1">гость</a></p>
    </div>
</body>
</html>